h1 {
    font-family: 'Merriweather', serif;
}

p {
    font-family: 'Merriweather', serif;
    font-size: 130%;
    font-weight: 100;

}

li {
    font-family: 'Merriweather', serif;
    font-size: 130%;


}

a {
    text-decoration: none;
}

#poem {
    text-align: center;
}

.section {
    margin-bottom: 5%;
}

body {
    margin: 5%;
}

.next-page {
    font-size: larger;
}