h1 {
    font-family: 'Tilt Neon', cursive;
}

p {
    font-family: 'Tilt Neon', cursive;
    font-size: 130%;

}

li {
    font-family: 'Tilt Neon', cursive;
    font-size: 130%;


}

a {
    text-decoration: none;
}

#poem {
    text-align: center;
}

.section {
    margin-bottom: 5%;
}

body {
    margin: 5%;
}

.next-page {
    font-size: larger;
    font-family: 'Tilt Neon', cursive;
}