h1 {
    font-size: 200%;
    font-family: 'Courier New', Courier, monospace;

}

p {
    font-size: 180%;
    font-family: 'Courier New', Courier, monospace;

}

ul {
    font-size: 180%;
    font-family: 'Courier New', Courier, monospace;
}

a {
    text-decoration: none;
}