h1 {
    font-size: 220%;
    font-family:'Tilt Neon', cursive;
}

p {
    font-size: 150%;
    font-family:'Tilt Neon', cursive;
      
}

li {
    font-size: 150%;
    font-family: 'Tilt Neon', cursive;
    
}

a {
    text-decoration: none;
    
}

body {
    margin: 5%;
}

#poem {
    text-align: center;
}



  