h1 {
    font-size: 250%;
    font-family: 'Courier New', Courier, monospace;
    color: #0478F3;
}

p {
    font-size: 150%;
    font-family: 'Courier New', Courier, monospace;
    color: #0350A1;   
}

li {
    font-size: 150%;
    font-family: 'Courier New', Courier, monospace;
    color: #0478F3;
}

a {
    text-decoration: none;
    
}

body {
    background-color: #B1CFEF;
}    